
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    @import url('https://fonts.googleapis.com/css?family=Montserrat');
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

    .title{
 		 float: left;
      color: #34B3AE;
      font-family: 'Josefin Sans';
     }

    a{
			color: #FC8A4C;
			background: #EEEEEE;
			text-decoration: none;
		}

		a:hover{
		background: #D9D9D9;
 		 color: #B04912;
 		 font-size: 24px;
 		 text-decoration: underline;
 	 }

 	 a:active{
 		 color: grey;
 		 font-size: 24px;

 	 }

		.page{

		 float: right;
		 border:ridge;
		 text-decoration: none;
		 background:#fff;
		 font-family: 'Montserrat';

	 }

	 .name{
		 float: center;
		text-align: center;
    color: #44CCFF;
    font-family: 'Montserrat';
    font-size: 40px;
	}

	.box {
   display: flex;
   align-items:center;
 }

 .list {
   font-family: 'Montserrat';
   color: #34B3AE;
 }

 .subtitle {
   font-family: 'Montserrat';
   color: #34B3AE;
   text-align: center;
 }


 #button{

       background: #44CCFF;
       justify-content: center;
       text-align: center;
       width: 100px;
       height: 20px;
       border-radius: 25px;
       color: white;
       font-family: 'Montserrat';
     }

     #button:hover{

       background: pink;
       color: yellow;

     }

     #button:active{

       background: red;
       color: yellow;
     }


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.caption {
    display: block;
    text-align:left;
}

	p{
		text-align: center;
		font-family: 'Open Sans';
	}
	img{

	}

	body {
  background: lightgray;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
